/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Font Family */
html, body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #395DAB;
    --neutral-black: #000000;
    --grey: #666666;
    --neutral-white: #ffffff;
}

body{
    margin: 0;
}

.page-content { 
    grid-area: Page-Content;
    height: calc(100vh - 3em);
    background: #F2F3F4;
    overflow-y: auto;
}

.p-card-content{
    padding: 0 !important;
}

.p-datatable-tbody{
    max-height: 60vh;
    overflow-y: auto;
}